:root {
  --bg-color: #161819;
  --bg-deep: #0d1011;
  --surface-color: #252728;
  --primary-color: #ff5f52;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}

.parent-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.left-column {
  width: 15%;
  padding: 100px 30px;
}

.middle-column {
  width: 75%;
}

.right-column {
  width: 20%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #f3f3f3da;
}

dd.menu-item {
  padding: 5px 15px;
  border-radius: 10px;
  margin: 10px auto;
}

dd.menu-item.active {
  background-color: var(--primary-color);
}

dd.menu-item > span.icon {
  margin-right: 10px;
}
